@using JSC_Portal.Resources;
@model IEnumerable<JSC_Portal.Models.NavBarModel>

<!-- Панель навигации -->
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">@ComponentResources.SNavBarTitle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--- todo: выяснить предназначение этой ссылки -->
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*todo: привести это выражение к должному виду, без копипаста, грамотно и культурно.*@
                        @foreach (var m in Model)
                        {
                            if (m.Children != null && m.Children.Count > 0)
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        @foreach (var child in m.Children)
                                        {
                                            <li><a href="#@m.Url">@m.Text</a></li>
                                        }
                                        
                                        <!-- todo: предусмотреть эти возможности позже
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">Nav header</li>
                                        <li><a href="#">Separated link</a></li>
                                        <li><a href="#">One more separated link</a></li>-->
                                    </ul>
                                </li>
                            }
                            else
                            {
                                if (m.IsActive)
                                {
                                    <li><a class="active" href="#@m.Url">@m.Text</a></li>
                                }
                                else
                                {
                                    <li><a href="#@m.Url">@m.Text</a></li>
                                }
                            }
                        }                        
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>